<div class="row justify-content-center">
    <div class="col-6">
        {% if flash.has('error') %}
            <div class="alert alert-danger alert-dismissible fade show">
                {{ flash.get('error') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if flash.has('success') %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ flash.get('success') }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
</div>
