{% extends 'base.twig' %}

{% block content %}
    <h1>Index</h1>

    {{ errors.email | first }}
    <form action="/" method="POST">
        <label for="email">Email :</label>
        <input type="text" name="email" id="email">
        <input type="submit" value="Submit">
        <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
    </form>
{% endblock %}

