{% extends 'base.twig' %}

{% block content %}
    <h1>Index</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, minus?</p><p>A facilis fugiat laborum nemo
    neque reprehenderit repudiandae sint tenetur!</p><p>Beatae cum, doloribus iure minima perferendis quam reiciendis
    tempora tenetur.</p><p>Consequuntur facere odio perferendis quos totam ut? Possimus, repellendus, similique?</p><p>
    Aliquam expedita impedit pariatur, quaerat quidem quis repellat repellendus sint.</p>
{% endblock %}

