{% extends 'base.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Profile
            </h5>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Hic dolor illo cupiditate neque ipsum sapiente repudiandae eligendi consectetur omnis officiis dicta tempore ab, temporibus fugiat.
            </p>
        </div>    
    </div>
{% endblock %}

